* {
  font-family: Arial, Helvetica, sans-serif;
  
}

html {
  margin-left: 7%;
  margin-right: 7%;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  height: 70px;
  width: auto;

  
  padding-bottom: 20px;
  
}

.nav-left {
  
  font-size: xx-large;
  font-weight: bold;
}

.nav-right {
  
  font-size: large;
  
}
.nav-right a {
  padding: 8px;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-me-text {
  
  max-width: 800px;
  
}

#selfie-img {
  width: 400px;
  border-radius: 2em;
  border: 2px solid black;
  
}

.projects {
  

}

.skills-container {
  

}

.skills-title {
  
}

.skills-icons {
  
  display: flex;
  height: 75px;
  width: auto;
  justify-content: space-around;
  flex-wrap: wrap;

}

.fab {
  height: auto;
}

@media (max-width: 1425px) {
  

  .about-me {
    justify-content: center;
  }
}

@media (max-width: 625px) {
  .nav-right {
    padding-top: 10px;
  }
  .nav {
    justify-content: center;
  }
}

